#caja1 {
    width: 200px;
    height: 200px;
    background-color: blue;
}

#caja2 {
    width: 200px;
    height: 200px;
    background-color: red;
}

#caja3 {
    width: 200px;
    height: 200px;
    background-color: green;
}

#caja4 {
    width: 200px;
    height: 200px;
    background-color: yellow;
}